# Nombre de la base de datos
DB_NAME=TaskDB

# Host (solo el hostname, sin la instancia)
DB_HOST=host.docker.internal

DB_USER=usuario_sequelize

DB_PASSWORD=ProIntel2026

# Nombre de la instancia SQL Server
DB_INSTANCE=SQLEXPRESS

# HTTP server port (optional, defaults to 3000)
PORT=3000
